@font-face {
    font-family: righteous;
    src: url(../src/assets/Font/righteous-regular.ttf);
}

@font-face {
    font-family: saria;
    src: url(../src/assets/Font/saria-regular.ttf);
}

@font-face {
    font-family: rowdies;
    src: url(../src/assets/Font/rowdies-regular.ttf);
}

@import "tailwindcss";

@theme{
    --font-family-righteous: Righteous,"sans-serif";
}

@theme{
    --font-family-saira: Saria,"sans-serif";
}

@theme{
    --font-family-rowdies: Rowdies,"sans-serif";
}
